:root {
    --formula: ((100vw - 320px) / (1920 - 320));

    --font-size: 1rem;

    --color: aliceblue;
    --background-color: #1C4177;
    --orange: #ff6600;

    --max-width: calc(310px + (1700 - 310) * var(--formula));
    --max-height-header: calc(128px + (128 - 128) * var(--formula));


    --gap-x: calc(16px + (30 - 16) * var(--formula));
    --gap-y: calc(16px + (72 - 16) * var(--formula));
    --padding: calc(5px + (24 - 5) * var(--formula));

    --max-width-item: calc(310px + (350 - 310) * var(--formula));
}

*,
*::after,
*::before {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.uppercase {
    text-transform: uppercase;
}

.orange {
    color: var(--orange);
}

body {
    background-color: var(--background-color);
    font-size: var(--font-size);
    font-weight: normal;
    color: var(--color);
    font-family: sans-serif;
    
    line-height: 1.5;

    max-width: var(--max-width);
    padding: 0 var(--padding);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: var(--max-height-header);
    gap: 0 var(--gap-x);

    width: var(--max-width);
    padding: var(--padding) 0;
}

.header__image {
    max-width: calc(var(--max-height-header) + 1rem);
    height: 100%;
}

.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 0 var(--gap-x);
    z-index: 4;
}

.menu__item {
    position: relative;
    padding: .8rem 1rem;
}

.menu__item:hover {
    border-radius: 10px;
    background: linear-gradient(315deg, #193b6b, #1e467f);
    box-shadow:  -14px -14px 27px #193b6b, 14px 14px 27px #1f4883;
}

/*  */

@media screen and (max-width: 767px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .header__image,
    .contacts {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }
    .menu__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;

        visibility: hidden;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: var(--background-color);
        width: 100dvw;
        height: 100dvh;

        font-size: 1.5rem;

        z-index: 3;
    }
}

#menu__toggle {
    opacity: 0;
    z-index: 5;
}

.menu__burger {
    z-index: 4;
}

.menu__burger,
#menu__toggle {
    position: fixed;
    display: flex;
    align-items: center;

    top: 20px;
    right: 20px;

    width: 30px;
    height: 30px;

    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .menu__burger,
    #menu__toggle {
        display: none;
    }

    .home {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }
}

.menu__burger > span,
.menu__burger > span::before,
.menu__burger > span::after {
    position: absolute;
    display: block;

    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: var(--color);
    transition: 0.5s;
}

.menu__burger > span::before {
    content: '';
    top: -10px;
}

.menu__burger > span::after {
    content: '';
    top: 10px;
}

#menu__toggle:checked ~ .menu__burger > span {
    background: transparent;
}

#menu__toggle:checked ~ .menu__burger > span::before {
    top: 0;
    transform: rotate(-45deg);
}

#menu__toggle:checked ~ .menu__burger > span::after {
    top: 0;
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__list {
    visibility: visible;
}

/*  */


.contacts__item {
    line-height: 2;
}

.contacts__item,
.bold {
    font-weight: bold;
}

.main > * {
    padding: 2rem 0;
}

h1 {
    text-align: center;
}

section > * {
    padding: 1rem 0;
}

.main__description {
    padding: 1rem 0;
}

/* 
    section
*/

.card__image {
    width: 100%;
    height: 100%;

}

.section__title {
    position: relative;
    padding: .5rem 0;
    text-align: center;
}

.section__title::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;

    width: 100%;
    border: 1px solid var(--color);
}

.section__title::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;

    width: 100%;
    border: 1px solid var(--color);
}

.card__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--gap-x);
}

.card__item {
    margin: 0;
    max-width: var(--max-width-item);

    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    transition: all ease 0.5s;
}

.card__item:hover {
    box-shadow: 0px 0px 20px 1px #0c6ff9;
}

.item__title {
    position: relative;
    padding: 0 2rem;
    font-weight: normal;
}

.item__title::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 2rem;
    right: 2rem;

    width: calc(var(--max-width-item) - 4rem);
    border: 1px solid var(--color);
}

.item-text__list > li {
    padding: .5rem 2rem;
}

footer {
    height: var(--max-width-item);
}

.design__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}